body {
  background: #000000;
  color: #ffffff;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.bg-steel {
  background-color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  color: #ffffff;
  background: #000000;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-section p.text-muted {
  color: #ffffff !important; /* Textfarbe auf Weiß setzen */
}

.article-title {
  color: hwb(0 100% 0%);
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  color: #ffffff;
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.list-group-item.list-group-item-light {
  background-color: #000000; /* Hintergrund transparent oder gewünschte Farbe */
  color: #ffffff; /* Textfarbe auf Weiß setzen */
  border-color: #ffffff; /* Rahmenfarbe auf Weiß setzen */
}
