# local database and config files
config.json
*.db
# profile pictures
webapp/static/profile_pics/*.jpg
webapp/static/profile_pics/*.png
# editor files: 
*.swp
.obsidian
# local python files
**/__pycache__/
venv/
# macos specific
.DS_Store
