<hr>
<hr>
<h5>TS 12" Newton-Astrograph</h5>
<h5>Aufnahmedetails</h5>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th></th> <!-- Platz für Löschen-Button -->
            <th>Anzahl</th>
            <th>Belichtungszeit [sec]:</th>
            <th>Filter</th>
            <th>Dithering</th>
        </tr>
    </thead>
    <tbody id="aufnahmeTbody">
        {% include "_vds_newton_aufnahme_zeile.html" %}
    </tbody>
</table>

<div class="text-center mb-3">
    <button
        type="button"
        class="btn btn-outline-secondary"
        hx-get="/vds-newton-add-row"
        hx-target="#aufnahmeTbody"
        hx-swap="beforeend">
        ➕  Zeile hinzufügen
    </button>
</div>
