<!-- jdy: Filter ergaenzt, hidden value "Filter wählen" hinzugefuegt -->
<tr>
<!--    <td><textarea name="aufnahmeanzahl" placeholder="Anzahl" rows="1" cols="2" class="form-control" required></textarea></td> -->
    <td><label for="imagenumber"></label><input type="number" placeholder="Anzahl" id="imagenumber" name="imagenumber"></td>
    <td><label for="bulbtime"></label><input type="number" placeholder="Belichtungszeit" id="bulbtime" name="bulbtime"></td>
<!--    <td><textarea name="bulbtime" placeholder="Belichtungszeit [sec]" rows="1" cols="2" class="form-control" required></textarea></td> -->
    <td>
        <select name="filter" class="form-select">
            <option value="" selected disabled hidden>Filter wählen</option>
            <option value="l">L</option>
            <option value="r">R</option>
            <option value="g">G</option>
            <option value="b">B</option>						
            <option value="rgb">RGB</option>						
            <option value="sii">SII</option>
            <option value="ha">Ha</option>
            <option value="o3">OIII</option>
            <option value="sho">SHO</option>
        </select>
    </td>
    <td><input type="checkbox" name="dithering" class="form-check-input"></td>
</tr>
