<hr>
<hr>
<h4>Aufnahmedetails</h4>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Anzahl</th>
            <th>Belichtungszeit [sec]:</th>
            <th>Filter</th>
            <th>Dithering</th>
        </tr>
    </thead>
    <tbody id="aufnahmeTbody2">
        {% include "_vds_tak_aufnahme_zeile.html" %}
    </tbody>
</table>

<div class="text-center mb-3">
    <button
        type="button"
        class="btn btn-outline-secondary"
        hx-get="/vds-tak-add-row"
        hx-target="#aufnahmeTbody2"
        hx-swap="beforeend">
        ➕  Zeile hinzufügen
    </button>
</div>
