{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
<ul>
	<li><b>Eigentümer der Website und Impressum</b>
	<ul>
	  <li><a href="https://sternfreunde.de" target="_blank" rel="noopener noreferrer">Vereinigung der Sternfreunde e. V.</a></li>
	</ul>
	</li><br>
	
	<li><b>Nutzungsbedingungen</b>
	<ul>
		<li>Voraussetzung für die Nutzung der Website ist eine Mitgliedschaft in </li>
		<ul>
			<li>der <a href="https://sternfreunde.de" target="_blank" rel="noopener noreferrer">Vereinigung der Sternfreunde e. V.</a></li>
			<li>und der <a href="https://remotesternwarten.sternfreunde.de" target="_blank" rel="noopener noreferrer">Fachgruppe "Remote Sternwarten"</a></li>
        </ul>
	</ul>
    </li><br>	
	
	<li><b>Datenschutzerklärung</b>
	<ul>
		<li>Es gilt die Datenschutzerklärung der <a href="https://sternfreunde.de/datenschutzerklaerung/" target="_blank" rel="noopener noreferrer">Vereinigung der Sternfreunde e. V.</a></li>
		<li>Durch die Nutzung der Website wird der Datenschutzerklärung zugestimmt</li>
	</ul>
    </li><br>

	<li><b>Software</b>
	<ul>
		<li>vds-sternwarte Version {{ version }}</li>
		<li>Open Source mit GPL 3.0 Lizenz</li>
		<li><a href="https://github.com/peter-englmaier/vds-sternwarte" target="_blank" rel="noopener noreferrer">Quellcode auf github</a></li>
	</ul>
    </li><br>

	<li><b>Entwicklung der Software</b>
	<ul>
		<li>Thomas Appel</li>
        <li>Yves Bastian</li>
    	<li>Dr. Bernd Christensen</li>
    	<li>Dr. Kai-Oliver Detken</li>
    	<li>Dr. Janina Dynowski</li>
    	<li>Dr. Peter Englmaier</li>
    	<li>Dr. Jost Jahn</li>
    	<li>Peter Jankowski</li>
    	<li>Dr. Martin Junius</li>
    	<li>Ulf Kriese</li>
    	<li>Dr. Georg Piehler</li>
	</ul>
    </li><br>

</ul>	
{% endblock content %}
