<!-- jdy: Filter ergaenzt, hidden value "Filter wählen" hinzugefuegt -->
<tr>
<!--    <td><textarea name="aufnahmeanzahl" placeholder="Anzahl" rows="1" cols="2" class="form-control" required></textarea></td> -->
    <td><label for="imagenumber"></label><input type="number" placeholder="Anzahl" id="imagenumber" name="imagenumber"></td>
    <td><label for="bulbtime"></label><input type="number" placeholder="Belichtungszeit" id="bulbtime" name="bulbtime"></td>
<!--    <td><textarea name="bulbtime" placeholder="Belichtungszeit [sec]" rows="1" cols="2" class="form-control" required></textarea></td> -->
    <td>
        <select name="filter" class="form-select">
            <option value="" selected disabled hidden>Filter wählen</option>
            <option value="tri">Triband</option>
            <option value="clear">Clear</option>
            <option value="dual">Dualband</option>
            <option value="lenhance">L-eNhance</option>						
            <option value="sii-t">SII</option>
        </select>
    </td>
    <td><input type="checkbox" name="dithering" class="form-check-input"></td>
</tr>
