<tr>
    <td><textarea name="aufnahmeanzahl" rows="1" cols="2" class="form-control" required></textarea></td>
    <td><textarea name="bulbtime" rows="1" cols="2" class="form-control" required></textarea></td>
    <td>
        <select name="filter" class="form-select">
            <option value="sii">SII</option>
            <option value="ha">Ha</option>
            <option value="o3">OIII</option>
        </select>
    </td>
    <td><input type="checkbox" name="dithering" class="form-check-input"></td>
</tr>