{% extends "layout.html" %}
{% block content %}

<h1 class="text-center">Antrag für Fachgruppennutzung</h1>

{% if current_user.is_authenticated %}
<p>Antragssteller: {{ current_user.name }}</p>
<p>Teleskop: VdS Remotesternwarte in Hakos</p>

<form hx-post="/submit-maintenance" hx-trigger="submit" hx-target="#response" hx-swap="innerHTML">
    <h4>Zeitraum</h4>
    <div class="row">
        <div class="col">
            <label>Beginn Datum:</label>
            <input type="date" name="beginndatum" class="form-control" required>
        </div>
        <div class="col">
            <label>Beginn Uhrzeit:</label>
            <input type="time" name="beginnuhrzeit" class="form-control" required>
        </div>
        <div class="col">
            <label>Ende Datum:</label>
            <input type="date" name="enddatum" class="form-control" required>
        </div>
        <div class="col">
            <label>Ende Uhrzeit:</label>
            <input type="time" name="enduhrzeit" class="form-control" required>
        </div>
    </div>

    <hr>
    <h4>Objektangaben</h4>
    <div class="row">
        <div class="col-4">
            <label>Objekt:</label>
            <select name="Objektdetails" class="form-select">
                <option value="galaxy_cluster">Galaxienhaufen</option>
                <option value="globular_cluster">Globaler Haufen</option>
                <option value="open_cluster">Offener Sternhaufen</option>
                <option value="diffuse_nebulae">Diffuser Nebel</option>
                <option value="emission_nebulae">Emissionsnebel</option>
                <option value="reflection_nebulae">Reflektionsnebel</option>
                <option value="dark_nebulae">Dunkelnebel</option>
                <option value="planetary_nebulae">Planetarischer Nebel</option>
                <option value="supernova_remnant">Supernovaüberrest</option>
                <option value="quasar">Quasar</option>
            </select>
        </div>
        <div class="col-4">
            <label>Objektname:</label>
            <textarea name="objectname" rows="1" class="form-control" required></textarea>
        </div>
    </div>

    <hr>
    <h4>Aufnahmedetails</h4>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Anzahl</th>
                <th>Belichtungszeit</th>
                <th>Filter</th>
                <th>Dithering</th>
            </tr>
        </thead>
        <tbody id="aufnahmeTbody">
            {% include "aufnahme_zeile.html" %}
        </tbody>
    </table>

    <div class="text-center mb-3">
        <button 
            type="button" 
            class="btn btn-outline-secondary"
            hx-get="/add-row"
            hx-target="#aufnahmeTbody"
            hx-swap="beforeend">
            ➕ Zeile hinzufügen
        </button>
    </div>
<hr>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Absenden</button>    
</form>
<div id="response" class="mt-3"></div>
<p></p>
<button type="button" onclick="resetCalendar()">Zurücksetzen</button>
</div>
{% endif %}
{% endblock %}