{% extends "layout.html" %}
{% block content %}
    <h1>FAQ</h1>
<ul>
  	{% if current_user.is_authenticated %}

	<li><b>Hilfe</b>
		<ul>
			<li>Fragen zur Anwendung bitte an diese email-Adresse senden</li>
			<ul><email-adresse>untergruppe.software at VDSFGRemoteObs.groups.io</email-adresse></ul>
			<br>
			<li>oder in den <a href="https://nextcloud.sternfreunde.de/index.php/apps/files/files/2095503?dir=/VdS_Remote-Sternwarte/AG%20Software/Anleitungen/Aktuell" target="_blank" rel="noopener noreferrer">Anleitungen</a> lesen</li>
			<br>
			<li>oder dieses <a href="https://nextcloud.sternfreunde.de/index.php/apps/files/files/2095506?dir=/VdS_Remote-Sternwarte/AG%20Software/Anleitungen/Aktuell&openfile=true" target="_blank" rel="noopener noreferrer">Video</a> ansehen</li>
		</ul>
    </li>
	<br>
	<li><b>Wer bin ich?</b>
		<br>
		<a href="/account" rel="noopener noreferrer">Kuckst du hier</a>
	</li>
	<br>
	<li><b>Welche Rollen habe ich?</b>
		<br>
		{% if current_user.has_role("admin") %}
		<a>admin </a>
		{% endif %}
		{% if current_user.has_role("poweruser") %}
		<a>poweruser </a>
		{% endif %}
		{% if current_user.has_role("approver") %}
		<a>approver </a>
		{% endif %}
		{% if current_user.has_role("user") %}
		<a>user </a>
		{% endif %}
		{% if current_user.has_role("guest") %}
		<a>guest </a>
		{% endif %}
	</li>
	{% else %}
   		Bitte melde dich an.
    {% endif %}

</ul>	
{% endblock content %}
