<tr>
    <td>        
        <button type="button" class="btn btn btn-success" hx-get="/add-row" hx-target="#aufnahmeTbody" hx-swap="beforeend">➕ <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
  <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
</svg></button>
        <button type="button" class="btn btn-danger btn-sm" onclick="this.closest('tr').remove()">− <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
  <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
</svg></button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="copyRow(this)">⧉</button>       
    </td>
    <td><textarea name="aufnahmeanzahl" rows="1" cols="2" class="form-control"></textarea></td>
    <td><textarea name="bulbtime" rows="1" cols="2" class="form-control"></textarea></td>
    <td>
        <select name="filter" class="form-select">
            <option value="sii">SII</option>
            <option value="ha">Ha</option>
            <option value="o3">OIII</option>
        </select>
    </td>
    <td><input type="checkbox" name="dithering" class="form-check-input"></td>    
    <td><textarea name="gain" rows="1" cols="2" class="form-control"></textarea></td>
    <td><textarea name="offset" rows="1" cols="2" class="form-control"></textarea></td>
</tr>