{% extends "layout.html" %}
{% block content %}
    <h1>FAQ</h1>
<ul>
  	{% if current_user.is_authenticated %}

	<li><b>Hilfe</b>
		<ul>
			<li>Fragen zur Anwendung bitte an diese email-Adresse senden</li>
			<ul><email-adresse>antragsfragen at VDSFGRemoteObs.groups.io</email-adresse></ul>
			<br>
			<li>Für user</li>
				<a href="https://nextcloud.sternfreunde.de/index.php/apps/files/files/2095508?dir=/VdS_Remote-Sternwarte/AG%20Software/Anleitungen/Aktuell&openfile=true" target="_blank" rel="noopener noreferrer">Kurzanleitung</a></li>
				<br>
				<a href="https://nextcloud.sternfreunde.de/index.php/apps/files/files/2095521?dir=/VdS_Remote-Sternwarte/AG%20Software/Anleitungen/Aktuell&openfile=true" target="_blank" rel="noopener noreferrer">Anleitung</a></li>
				<br>
				<a href="https://nextcloud.sternfreunde.de/index.php/apps/files/files/2095506?dir=/VdS_Remote-Sternwarte/AG%20Software/Anleitungen/Aktuell&openfile=true" target="_blank" rel="noopener noreferrer">Video</a></li>
				<br>
			<br>
			<li>Für poweruser</li>
				<a href="https://nextcloud.sternfreunde.de/index.php/apps/files/files/2095504?dir=/VdS_Remote-Sternwarte/AG%20Software/Anleitungen/Aktuell&openfile=true" target="_blank" rel="noopener noreferrer">Kurzanleitung</a></li>
				<br>
				<a href="https://nextcloud.sternfreunde.de/index.php/apps/files/files/2095517?dir=/VdS_Remote-Sternwarte/AG%20Software/Anleitungen/Aktuell&openfile=true" target="_blank" rel="noopener noreferrer">Anleitung</a></li>
				<br>
			<br>
			<li>Für admin</li>
				<a href="https://nextcloud.sternfreunde.de/index.php/apps/files/files/2095505?dir=/VdS_Remote-Sternwarte/AG%20Software/Anleitungen/Aktuell&openfile=true" target="_blank" rel="noopener noreferrer">Kurzanleitung</a></li>
				<br>
				<a href="https://nextcloud.sternfreunde.de/index.php/apps/files/files/2095510?dir=/VdS_Remote-Sternwarte/AG%20Software/Anleitungen/Aktuell&openfile=true" target="_blank" rel="noopener noreferrer">Anleitung</a></li>
				<br>
		</ul>
    </li>
	<br>
	<li><b>Wer bin ich?</b>
		<br>
		<a href="/account" rel="noopener noreferrer">Mein Profil</a>
	</li>
	<br>
	<li><b>Welche Rollen habe ich?</b>
		<br>
		{% if current_user.has_role("admin") %}
		<a>admin </a>
		{% endif %}
		{% if current_user.has_role("poweruser") %}
		<a>poweruser </a>
		{% endif %}
		{% if current_user.has_role("approver") %}
		<a>approver </a>
		{% endif %}
		{% if current_user.has_role("user") %}
		<a>user </a>
		{% endif %}
		{% if current_user.has_role("guest") %}
		<a>guest </a>
		{% endif %}
	</li>
	{% else %}
   		Bitte melde dich an.
    {% endif %}

</ul>	
{% endblock content %}
