{% extends "layout.html" %}
{% block content %}
    <h1>Impressum</h1>
	
<h3>Geschäftsstelle</h3>
<div>
	<p>Vereinigung der Sternfreunde e.V.<br />
Darmstädter Straße 57<br />
D-64625 Bensheim</p>
</div>
</div></div></div><div><div>
    
    <h3>Bürozeiten</h3>
<div>
	<p>Montag, Dienstag und Donnerstag 8:00 – 12:00 Uhr</p>
<p>Bitte haben Sie Verständnis für eventuelle Abweichungen von diesen Terminen und nutzen dann den Anrufbeantworter.</p>
</div>
</div></div><div><div>
    
    <h3>Telefon und Fax</h3>
<div>
	<p>
        Tel.: 06251 829 1346<br />
        Fax: 06252 787 220</p>
</div>
</div></div><div><div>
    
    <h3>E-Mail und Internet</h3>
<div>
	<p>E-Mail: <a href="mailto:fg-remote@sternfreunde.de">fg-remote@sternfreunde.de</a><br />
URL: <a href="https://www.sternfreunde.de" target="_blank" rel="noopener">www.sternfreunde.de</a></p>
</div>
</div></div></div></div><div><div><div><div></div>

{% endblock content %}
