{% extends "layout.html" %}
{% block content %}
    <h1>Poweruser</h1>

{% if current_user.is_authenticated %}
<p>
    <span style="margin-right:50px;">
        Poweruser: {{current_user.firstname}} {{current_user.surname}}
    </span>
        Zum Übernehmen stehen {{open_orders|length}} Beobachtungsanträge an.
</p>
    <p><a class="btn btn-primary" href="{{ url_for('posts.new_post') }}">Ankündigung verfassen</a></p>


{% if open_orders|length > 0 %}

<div id="pu-message"></div>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Aktion</th>            
            <th>Datum</th>
            <th>Beteiligte</th>
            <th>Observatorium</th>
            <!-- <th>Motivation</th> -->
            <th>Wunsch Poweruser</th>
            <th>Type</th>
            <th>Anmerkungen</th>
        </tr>
    </thead>
    <tbody>
    {% for order in open_orders %}
        <tr>
            <td>
  <a href="{{ url_for('orders.show_order_positions', order_id=order.id) }}"
     class="btn btn-sm btn-secondary" title="Details anzeigen">
    <i class="bi bi-eye"></i>
  </a>

<span id="pu-feedback-{{ order.id }}">
  {% if order.my_pu_meldung_availability %}
    <span style="margin-right:50px;">Deine Rückmeldung
      {% if order.my_pu_meldung_availability == 4 %}
     <span class="text-success">Keine Rückmeldung</span>
        {% elif order.my_pu_meldung_availability == 1 %}
          <span class="text-success">Ja</span>
        {% elif order.my_pu_meldung_availability == 2 %}
          <span class="text-warning">Vielleicht</span>
        {% elif order.my_pu_meldung_availability == 3 %}
          <span class="text-danger">Nein</span>
        {% endif %}
         ist eingereicht</span>
     <br>
      <small class="text-muted">
        Die Antwort kann bis zur Zuweisung durch den Approver geändert werden:
      </small>    
  {% endif %}
</span>
<input type="hidden" id="action-{{ order.id }}" name="action" value="pu_meldung">
<input type="hidden" id="order-{{ order.id }}" name="order_id" value="{{ order.id }}">

<div id="availability-{{ order.id }}" class="mt-2">

<div class="form-check">
    <input
        class="form-check-input"
        type="radio"
        name="availability-{{ order.id }}"
        id="availability-0-{{ order.id }}"
        value="4"
        {% if not order.my_pu_meldung_availability or order.my_pu_meldung_availability == 0 %}checked{% endif %}
    >
    <label class="form-check-label"
           for="availability-0-{{ order.id }}">
        Keine Rückmeldung
    </label>
</div>

    <div class="form-check">
        <input
            class="form-check-input availability-green"
            type="radio"
            name="availability-{{ order.id }}"
            id="availability-1-{{ order.id }}"
            value="1"
            {% if order.my_pu_meldung_availability == 1 %}checked{% endif %}
        >
        <label
            class="form-check-label availability-label-green"
            for="availability-1-{{ order.id }}"
        >
            Ja
        </label>
    </div>

    <div class="form-check">
        <input
            class="form-check-input availability-yellow"
            type="radio"
            name="availability-{{ order.id }}"
            id="availability-2-{{ order.id }}"
            value="2"
            {% if order.my_pu_meldung_availability == 2 %}checked{% endif %}
        >
        <label
            class="form-check-label availability-label-yellow"
            for="availability-2-{{ order.id }}"
        >
            Vielleicht
        </label>
    </div>

    <div class="form-check">
        <input
            class="form-check-input availability-red"
            type="radio"
            name="availability-{{ order.id }}"
            id="availability-3-{{ order.id }}"
            value="3"
            {% if order.my_pu_meldung_availability == 3 %}checked{% endif %}
        >
        <label
            class="form-check-label availability-label-red"
            for="availability-3-{{ order.id }}"
        >
            Nein
        </label>
    </div>

</div>

<button type="button" class="btn btn-sm btn-outline-primary"
        hx-post="{{ url_for('main.poweruser') }}"
        hx-include="#action-{{ order.id }},#order-{{ order.id }},#availability-{{ order.id }}{% if csrf_token is defined %},#csrf_token{% endif %}"
        hx-vals='js:{ availability: document.querySelector( "input[name=\"availability-{{ order.id }}\"]:checked")?.value}'
        hx-target="#pu-feedback-{{ order.id }}"
        hx-swap="outerHTML">
  <i class="bi bi-save"></i>
</button>
</td>            
            <td>{{ order.request_date.strftime('%d.%m.%Y') }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.observatory_name }}</td>
            <!-- <td>{{ order.request_purpose }}</td> -->
            <td>{{ order.poweruser_name or '-' }}</td>
            <td>{{ order.request_type }}</td>
            <td>{{ order.remark }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<br>

{% endif %}

<h2>Meine mir zugewiesenen Anträge</h2>

{% if own_orders|length > 0 %}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Details</th>            
            <th>Datum</th>
            <th>Antragsteller</th>
            <th>Zugewiesener Poweruser</th>
        </tr>
    </thead>

    <tbody>
    {% for order in own_orders %}
        <tr>
            <td>
                <a href="{{ url_for('orders.show_order_positions', order_id=order.id) }}">
                    Anzeigen
                </a>
            </td>            
            <td>{{ order.request_date.strftime('%d.%m.%Y') }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.poweruser_name or '-' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Dir sind derzeit keine Anträge zugewiesen.</p>
{% endif %}

<h2>Anderen Powerusern zugewiesene Anträge</h2>

{% if others_orders|length > 0 %}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Details</th>            
            <th>Datum</th>
            <th>Antragsteller</th>
            <th>Zugewiesener Poweruser</th>
        </tr>
    </thead>

    <tbody>
    {% for order in others_orders %}
        <tr>
            <td>
                <a href="{{ url_for('orders.show_order_positions', order_id=order.id) }}">
                    Anzeigen
                </a>
            </td>            
            <td>{{ order.request_date.strftime('%d.%m.%Y') }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.poweruser_name or '-' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Es sind derzeit keine Anträge anderen Powerusern zugewiesen.</p>
{% endif %}



<a class="btn btn-warning" style="background-color: #007bff; color: white;"
   href="{{ url_for('main.home') }}">Zur Startseite</a>

{% endblock %}
